<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <!--<header>
    <img src="/assets/images/UoB_Black_24.png" alt="University of Bristol Logo" />
    <h1>Social AI and Multi-Agent Systems @ Bristol</h1>-->
<nav>
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="/assets/images/UoB_Black_24.png" alt="Logo">
    </a>
    <div class="nav-title">Social AI and Multi-Agent Systems @ Bristol</div>
    <div class="nav-links">
      {% for item in site.navigation %}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
<!--  </header>-->
  <div class="content">
{{ content }}
  </div>
</body>
</html>
