<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <img src="images/UoB_Black_24.png" alt="University of Bristol Logo" />
    <h1>Social AI and Multi-Agent Systems @ Bristol</h1>
    <nav>
{% for item in site.navigation %}
  <a href="{{ item.url }}">{{ item.title }}</a>
{% endfor %}
    </nav>
  </header>
  <div class="content">
{{ content }}
  </div>
</body>
</html>
