<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
  <!--<header>
    <img src="/assets/images/UoB_Black_24.png" alt="University of Bristol Logo" />
    <h1>Social AI and Multi-Agent Systems @ Bristol</h1>-->
<nav>
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="/assets/images/UoB_Black_24.png" alt="Logo">
    </a>
    <div class="nav-title">Social AI and Multi-Agent Systems @ Bristol</div>
    <div class="nav-links">
      {% for item in site.navigation %}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
<!--  </header>-->
  <div class="content">
{{ content }}
  </div>
<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
