---
layout: default
title: Publications | Social AI and Multi-Agent Systems | Nirav Ajmeri's Group at Bristol
---
<h2>Our Publications</h2>
{% assign sorted_publications = site.data.publications %}

{% assign current_year = nil %}
{% for pub in sorted_publications %}
  {% if pub.year != current_year %}
    {% if current_year != nil %}
      </ul> <!-- Close the previous year's list -->
    {% endif %}
    <h4>{{ pub.year }}</h4>
    <ul>
    {% assign current_year = pub.year %}
  {% endif %}
  
  <li>
    ({{ pub.authors }})
    <em>{{ pub.title }}.</em> 
    {% if pub.venue %}{{ pub.venue }}. {% endif %}
    {% if pub.volume %}vol {{ pub.volume }}, {% endif %}
    {% if pub.number %}number {{ pub.number }}, {% endif %}    
    {% if pub.location %}{{ pub.location }}, {% endif %}
    {% if pub.month %}{{ pub.month }}, {% endif %}
    {% if pub.year %}{{ pub.year }}, {% endif %}
    {% if pub.pages %}pages {{ pub.pages }}. {% endif %}
    {% if pub.doi %}doi: {{ pub.doi }}. {% endif %}
    {% if pub.link %}<a href="{{ pub.link }}">Read more</a> {% endif %}
  </li>
{% endfor %}

{% if current_year != nil %}
  </ul> <!-- Close the last year's list -->
{% endif %}

