---
layout: default
title: Our Team | Social AI and Multi-Agent Systems | Nirav Ajmeri's Group at Bristol
---
<h2>Meet the Team</h2>

<!--<p>We are a team of researchers advancing foundational AI for the societal good, focusing on the development of ethical sociotechnical systems. Our work encompasses intelligent agents and multi-agent systems, social AI, multi-agent reinforcement learning, and graph-based approaches, all while integrating normative principles to ensure that AI systems align with societal norms and values.</p>
<p>We are part of the federated <a href="https://www.bristol.ac.uk/research/groups/intelligent-systems/">Intelligent Systems Labs</a> at Bristol, affiliated with the <a href="https://uob-colldyn.github.io/">Collective Dynamics lab</a> and the AI lab.
</p>-->

<div class="team-container">
  {% for member in site.data.team.teams %}
<div class="team-member">
  <img src="/assets/images/team/{{ member.photo }}" alt="{{ member.name }}" style="width: 150px; border-radius: 8px;">
  <h5><a href="{{ member.webpage }}">{{ member.name }}</a></h5>
  <p>{{ member.title }}</p>
  {% if member.keywords %}<p>Interests: <em>{{ member.keywords | join: ", " }}</em></p> {% endif %}
  <p>
    {% if member.email %} <a href="mailto:{{ member.email }}"><img src="/assets/images/email.png" style="width:24px;"/></a> {% endif %}
    {% if member.google_scholar %} <a href="{{ member.google_scholar }}"><img src="/assets/images/google_scholar.png" style="width:24px;"/></a> {% endif %} 
    {% if member.orcid %} <a href="{{ member.orcid }}"><img src="https://orcid.org/assets/icons/favicon.ico" style="width:24px;"/></a> {% endif %}
  </p>
</div>
  {% endfor %}
</div>
