---
layout: default
title: Our Team
---
<h1>Meet the Team</h1>
<p>We are a team of researchers advancing foundational AI for the societal good, focusing on the development of ethical sociotechnical systems. Our work encompasses intelligent agents and multi-agent systems, social AI, multi-agent reinforcement learning, and graph-based approaches, all while integrating normative principles to ensure that AI systems align with societal norms and values.</p>
<p>We are part of the federated <a href="https://www.bristol.ac.uk/research/groups/intelligent-systems/">Intelligent Systems Labs</a> at Bristol, affiliated with the <a href="https://uob-colldyn.github.io/">Collective Dynamics lab</a> and the AI lab.
</p>
<div class="team-container">
  {% for member in site.data.team.teams %}
<div class="team-member">
  <img src="/assets/images/{{ member.photo }}" alt="{{ member.name }}" style="width: 150px; border-radius: 8px;">
  <h3>{{ member.name }}</h3>
  <p>Research Interests: {{ member.keywords | join: ", " }}</p>
  <p><a href="{{ member.webpage }}">Personal Webpage</a> | <a href="{{ member.google_scholar }}">Google Scholar</a> | <a href="{{ member.orcid }}">ORCID</a></p>
</div>
  {% endfor %}
</div>
